@model TabkeFiveWebApplication.Models.ViewModels.ProductViewModels
<div onclick="AddToCart(@Model.PId);" class="view-li-div">

    <!--
    <span class="view-span">加入購物車</span>
    -->

    <span class="btn btn-primary">加入購物車</span>
</div>