@model TabkeFiveWebApplication.Models.ViewModels.ProductViewModels
<div id="@string.Format("{0}",Model.PId)" class="CartAdded">
    
    @*<span>已加入購物車</span>*@
    
    <span class="btn btn-primary">已加入購物車</span>
</div>
